/* global reset */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* div */
#card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    max-width: 536px;
    max-height: 804px;
    overflow: hidden;
}

/* img */

img {
    width: 268px;
    height: 402px;
}

/* testo */
.description {
    font-size: 16px;
    color: hsl(228, 12%, 48%);
    font-size: 11px;
    line-height: 18px;
    padding-bottom: 20px;
}

.font-Fraunces {
    font-family: 'Fraunces', serif;
}

.perfume-text {
    padding: 0px 30px;
}

.type-product {
    font-size: 11px;
    margin-bottom: 13px;
    letter-spacing: 4px;
    font-weight: 100;
    color: hsl(228, 12%, 48%);
    text-transform: uppercase;
}

h1 {
    margin-bottom: 25px;
    color: hsl(212, 21%, 14%);
    line-height: 30px;
}

/* price */
#price {
    display: flex;
    justify-content: flex-start;
    color: hsl(158, 36%, 37%);
    font-size: 18px;
}


.prev-price {
    align-self: center;
    font-size: 12px;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    font-weight: 100;
    margin-left: 20px;
}

/* bottone */
.buttons {
    margin-top: 20px;
}

.btn {
    display: flex;
    justify-content: center;
    color: hsl(0, 0%, 100%);
    background-color: hsl(158, 36%, 37%);
    border-radius: 7px;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bolder;
}

.btn:hover {
    background-color: hsl(158, 42%, 18%);
}

svg {
    margin-right: 10px;
}

/* Pie' */
footer {
    position: fixed;
    bottom: 20px;
    color: hsl(212, 21%, 14%);
}

/* mediaqueries */
@media (max-width: 375px) {
    #card {
        flex-direction: column;
        max-width: 330px;
    }

    img {
        width: 330px;
        height: 250px;
        object-fit: cover;
    }

    .perfume-text {
        padding: 20px;
        justify-content: flex-start;
    }

    .description {
        font-size: 14px;
        line-height: 20px;
    }

    h1 {
        font-size: 30px;
        font-weight: 800;
        margin-bottom: 10px;
    }

    body {
        justify-content: flex-start;
        margin-top: 30px;
    }

    footer {
        text-align: center;
    }

    .btn {
        padding: 15px 20px;
    }
}